<footer class="page-footer grey lighten-1">
  <div class="container">
    <div style="text-align: center;" class="black-text text-lighten-4">
      &copy; <%= new Date().getFullYear(); %> fleetvrp.com. All rights reserved.
    </div>
    <br />
  </div>
</footer>