
<nav class="blue darken-2">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">FleetVRP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
    </ul>
  </div>
</nav>
<div class="hero blue darken-2">
  <div class="container">
    <h1 class="center-align">FleetVRP</h1>
    <p class="center-align flow-text">Vehicle Routing Problem</p>
  </div>
</div>