
<nav class="blue darken-3">
  <div class="nav-wrapper container">
    <a href="https://fleetvrp.com" title="Powered by:" class="brand-logo hide-on-med-and-down"><i class="material-icons">map</i> FleetVRP</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/vehicles"><i class="material-icons left">local_shipping</i>Vehicles</a></li>
      <li><a href="/orders"><i class="material-icons left">format_list_numbered</i>Orders</a></li>
      <li><a href="/routes"><i class="material-icons left">timeline</i>Routes</a></li>
      <li><a href="/users"><i class="material-icons left">person</i>Users</a></li>
    </ul>
  </div>
</nav>
<div class="hero blue darken-2">
  <div class="container" style="padding: 1em 0 1.5em;">
    <h1 class="center-align" style="margin: 0;"><a href="/" class="white-text">ACME Corp.</a></h1>
    <br />
    <div class="center-align" style="margin: 0;">
      <a href="/welcome" style="text-transform: none;" class="btn btn-large waves-effect blue darken-3 white-text">A Company Making Everything</a>
    </div>
  </div>
</div>