
<nav class="blue darken-2">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo hide-on-med-and-down">FleetVRP</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
      <li><a href="/pricing"><i class="material-icons left">attach_money</i>Pricing</a></li>
      <li><a href="/swagger"><i class="material-icons left">build</i>API</a></li>
      <li><a href="https://github.com/subvind/FleetVRP"><i class="material-icons left">code</i>GitHub</a></li>
    </ul>
  </div>
</nav>
<div class="hero blue darken-2">
  <div class="container">
    <h1 class="center-align">FleetVRP</h1>
    <p class="center-align flow-text">
      <a href="/vehicle-routing-problem" style="text-transform: none;" class="btn btn-large waves-effect blue darken-3 white-text">Vehicle Routing Problem</a>
    </p>
  </div>
</div>